.greenButtonStyle {
    background-color: #83D566;
    color: white;
    border-width: 0px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 10px;
}

    .greenButtonStyle:hover {
        background-color: #CCCCCC;
        color: #333333;
    }

.grayButtonStyle {
    background-color: #F8F8F8;
    color: #333333;
    border-width: 0px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
    padding: 2px 10px;
}

    .grayButtonStyle:hover {
        background-color: #CCCCCC;
        color: #333333;
    }
