
@import url('HeaderStyleSheet.css');

body {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    height: 100%;
    min-width: 750px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#headerMenuBaseStyle {
    padding: 10px;
    background-color: #EFEDEE;
    color: #3C3C3C;
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
}

#headerMenuStyle {
    margin: auto;
    max-width: 1000px;
    min-width: 500px;
}

#loginMenuBaseStyle {
    padding: 5px;
    padding-bottom: 33px;
    background-color: #E3E3E3;
    color: #3C3C3C;
    height: 0px;
    width: 100%;
    top: 50px;
    left: 0;
    position:fixed;
}

#loginMenuStyle {
    margin: auto;
    max-width: 1000px;
    min-width: 500px;
}

#contentBaseStyle {
    margin-top: 100px;
    padding: 15px;
}

#contentStyle {
    margin: auto;
    max-width: 1000px;
    min-width: 500px;
    color: #333333;
}

#footerBaseStyle {
    background: #333333;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

#footerStyle {
    margin: auto;
    max-width: 1000px;
    min-width: 500px;
    color: white;
}
