.categoryFieldset {
    float: left; 
    width: 280px; 
    height: 85px;
    margin-bottom:10px;
    margin-left:10px;
}

.categoryDescription {
    width: 75%;
}

.categoryImage {
    width: 25%;
    text-align:right;
}

.binaryImage {
    margin-left: 10px;
}

.demo-container {
    max-width:660px;
}
