#pageTitle {
    background-color: #829AA8;
    color: white;
    font-family: 'Segoe UI';
    font-size: 21px;
    padding: 3px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#signInFormStyle {
    padding: 10px;
    border: 1px solid #D8DEE2;
}
