#pageTitle {
    font-family: 'Segoe UI';
    font-size: 25px;
}

.descriptionText {
    color: #767676;
    width: 100%;
    margin-top: 2px;
    font-family: 'Segoe UI';
    font-size: 13px;
    width: 500px;
}

.termsAndConditionsText {
    width: 100%;
    margin-top: 2px;
    font-family: 'Segoe UI';
    font-size: 14px;
    width: 500px;
}
