body {
}

.fullrow {
    width: 100%;
}

#pageTitle {
    font-family: 'Segoe UI';
    font-size: 25px;
}

.headerText {
    width: 100%;
    margin-top: 20px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
}

.descriptionText {
    color: #767676;
    width: 100%;
    margin-top: 2px;
    font-family: 'Segoe UI';
    font-size: 13px;
    width: 500px;
}

.termsAndConditionsText {
    width: 100%;
    margin-top: 2px;
    font-family: 'Segoe UI';
    font-size: 14px;
    width: 500px;
}

#createAccount {
    background-color: #83D566;
    color: white;
    border-width: 0px;
    padding-bottom: 10px;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    width: 150px;
    right: 0;
    margin-left: 350px;
    margin-top: 30px;
}

    #createAccount:hover {
        background-color: #CCCCCC;
        color: #333333;
    }
